<form action="/register/{{role}}" method="POST">
  {{#unless user }}
    <h3 class="ui header">Register</h3>
  {{/unless}}
  <div class="two fields">
    <div class="field">
      <label>First Name</label>
      <div class="ui input left icon">
        <i class="user icon"></i>
        <input placeholder="First Name" type="text" name="firstName">
      </div>
    </div>
    <div class="field">
      <label>Last Name</label>
      <div class="ui input left icon">
        <i class="user icon"></i>
        <input placeholder="Last Name" type="text" name="lastName">
      </div>
    </div>
  </div>
  <div class="field">
    <label>Email</label>
    <div class="ui input left icon">
      <i class="mail icon"></i>
      <input placeholder="Email" type="text" name="email">
    </div>
  </div>
  <div class="field">
    <label>Password</label>
    <div class="ui input left icon">
      <i class="lock icon"></i>
      <input type="password" name="password">
    </div>
  </div>
  <div class="ui center aligned basic segment">
    <button class="ui blue submit button"><i class="add user icon"></i>Submit</button>
  </div>
  {{> formerror }}
</form>