<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css" type="text/css">
  <link rel="stylesheet" media="screen" href="css/main.css">
  <link rel="shortcut icon" type="image/png" href="https://d30y9cdsu7xlg0.cloudfront.net/png/16347-200.png">
</head>
<body>
<section class="ui container">
  {{{content}}}
</section>
<script>
  $(document).ready(function () {
    $('.ui.dropdown').dropdown({ on: 'hover' });
  });

  $('.item').on('click', function(){
    // using the attribute data-modal to identify for what modal the button references
    modal = $(this).attr('data-modal');
    // creating the individual event attached to click over button
    $('#'+modal+'.modal').modal(
        'show'
    );
  });
  // To close success/error messages
  // REFERENCE: https://github.com/Semantic-Org/Semantic-UI/issues/190
  $(".close.icon").click(function(){
    $(this).parent().hide();
  });
</script>
</body>
</html>