{{> menuWelcome _id="home"}}

<section class="ui two column center aligned middle aligned stackable grid">
  <aside class="column">
    <img class="ui middle aligned small image" src="https://d30y9cdsu7xlg0.cloudfront.net/png/16347-200.png">
  </aside>
  <div class="column">
    <section class="ui segment">
      <p>Welcome to MyTweet !!</p>
      <p>Your own personal microblog</p>
      <p>Sign up or Login to get started</p>
    </section>
  </div>
</section>