{{> menuWelcome _id="signup" }}

<section class="ui stackable grid">
  <aside class="ui middle aligned center aligned six wide column">
    <i class="massive address book icon"></i>
  </aside>
  <section class="ui ten wide column">
    <div class="ui fluid form segment">
      {{> addUser role='user'}}
    </div>
  </section>
</section>
